@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@font-face {
  font-family: 'marvelregular';
  font-style: normal;
  font-weight: normal;
  src: url('../Assets/marvelregular-dj83-webfont.woff'), url('../Assets/marvelregular-dj83-webfont.ttf');
}
