@import '../../Styles/colors';
@import '../../Styles/typography';
@import '../../Styles/sizes';

.Paginated-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__page {
    max-width: 576px;
    height: 1vh;
    flex-direction: column;
    flex-grow: 1;
    margin: $height 0;
    background: $transparent_white;
    overflow-y: scroll;

    &__item {
      display: flex;
      width: calc(100% - 20px);
      align-items: center;
      justify-content: space-between;
      padding: 15px 10px 15px 10px;
      border-bottom: 1px solid $red;
      margin: 0 auto;
      cursor: pointer;
      font-weight: 600;

      svg {
        color: $red;
        font-size: 0.75em;
      }
    }
  }

  &__pagination {
    position: fixed;
    bottom: 0;
    display: flex;
    width: calc(100% - 20px);
    height: $height;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: $grey;

    li {
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      border: 3px solid transparent;
      color: $red;
      font-weight: 600;

      a {
        cursor: pointer;
      }

      a:focus {
        outline: none;
      }
    }

    li.next,
    li.previous {
      width: auto;
      height: auto;
      font-family: 'marvelregular';
      font-size: 32px;
      font-weight: 400;

      a {
        display: flex;
        align-items: center;
      }
    }

    li.active {
      border: 3px solid $red;
      border-radius: 50%;
    }

    li.disabled {
      color: $disabled;
    }
  }
}
