@import '../../Styles/colors';

.SearchBar {
  position: relative;
  z-index: 2;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  background: $red;
  border-radius: 17.5px;
  color: $white;
  transition: width 0.45s ease;

  &.open {
    width: 60%;
  }

  &__input {
    position: relative;
    width: 0%;
    height: 100%;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    background: transparent;
    color: $white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    outline: transparent !important;
    text-transform: uppercase;
    transition: all 0.45s ease;

    &::placeholder {
      color: $transparent_white;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &.open {
      width: 80%;
      padding-left: 12px;
    }
  }

  &__icon {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
  }
}
