@import '../../Styles/fonts';
@import '../../Styles/colors';
@import '../../Styles/sizes';

$margin_top: 20px;

.Details {
  padding: 35px 10px;
  margin-top: $height;
  &__character-name {
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    text-transform: uppercase;

    span {
      margin-top: 1px;
    }
  }

  &__edit-name {
    width: 60%;
    height: 37px;
    padding: 0;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    outline: none;
    text-transform: uppercase;

    &__icon {
      display: inline;
      margin-left: 15px;
      color: $red;
      cursor: pointer;
      font-size: 22px;

      &.disabled {
        color: $disabled;
        cursor: not-allowed;
      }
    }
  }

  &__character-image {
    width: 100%;
    height: auto;
    margin-top: $margin_top;

    @media screen and (min-width: 992px) {
      width: 100%;
      max-width: 800px;
      height: auto;
    }
  }

  &__character-description {
    margin-top: $margin_top;
    font-size: 20px;
    line-height: 150%;
  }

  &__character-title {
    margin-top: $margin_top;
    color: $red;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 992px) {
    h2:first-of-type {
      margin-top: 62px;
    }
  }

  &__character-story {
    margin-top: $margin_top;
    list-style-type: circle;

    &__item {
      margin-top: 0.45em;
      margin-left: 28px;
    }
  }
}
