@import '../../Styles/colors';
@import '../../Styles/sizes';

.Header {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: calc(100% - 20px);
  height: $height;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: $grey;

  &__logo {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    padding: 0 5px;
    background: $red;
    color: $white;
    font-family: 'marvelregular';
    font-size: 28px;
  }

  .Close-icon {
    position: relative;
    right: 6px;
    color: $red;
    cursor: pointer;
    font-size: 22px;
  }
}
