@import '../Styles/fonts';
@import '../Styles/colors';

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Marvel-characters {
  &__loader {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $black;

    img {
      width: 100%;
    }

    .Marvel-characters__loader-text {
      animation: fade 0.45s ease 0s infinite alternate;
      color: white;
      font-family: 'marvelregular';
      font-size: 24px;
      text-align: center;
    }

    @media screen and (min-width: 576px) {
      img {
        width: 50%;
      }
    }
    @media screen and (min-width: 992px) {
      img {
        width: 30%;
      }
    }
  }
}
